<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <appSettings>
        <add key="influxdbUri" value="" />
        <add key="influxdbUser" value="" />
        <add key="influxdbPassword" value="" />
        <add key="influxdbDatabaseName" value="" />
        <add key="influxdbMeasurementName" value="" />
    </appSettings>
</configuration>